<header class="header-user">
  <div>
    <% if @content.user.avatar.attached? %>
      <%= link_to image_tag(resize_s(@content.user.avatar), class: "user-image-icon-sm"), user_path(@content.user_id) %>
    <% else %>
      <%= link_to image_tag("power-icon.jpg", class: "user-image-icon-sm"), user_path(@content.user_id) %>
    <% end %>
    <%= link_to @content.user.nickname, user_path(@content.user_id), class: "user-name ml-2" %>
    <% if @content.user.height %><span class="user-name"><%= @content.user.height %>cm</span><% end %>
  </div>
  <% if user_signed_in? && @content.user_id == current_user.id %>
    <div>
      <i class="fas fa-ellipsis-h pointer" data-toggle="modal" data-target="#link-Modal"></i>
    </div>
  <% end %>
</header>
<div class="content-show-img">
  <%= image_tag(resize_l(@content.befor_image), class: "show-preview") %>
  <%= image_tag(resize_l(@content.after_image), class: "show-preview") %>
</div>
<div class="none" id="success-alert-<%= @content.id %>" role="alert">
</div>
<!-- モーダルの設定 -->
<div class="modal" id="link-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to "編集する", edit_content_path(@content), class: "modal-font" %>
      </div>
      <div class="modal-body">
        <%= link_to "削除する", content_path(@content), method: :delete, class: "denger-link" %>
      </div>
      <div class="modal-body-b">
        <span class="s-font pointer" data-dismiss="modal">キャンセル</span>
      </div>
    </div>
  </div>
</div>
<!-- モーダルの設定 -->