<div class="container-fluid mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <div class="content-show-main">
        <header class="header-user">
          <div>
            <% if content.user.avatar.attached? %>
              <%= link_to image_tag(content.user.avatar, class: "user-image-icon-sm"), user_path(content.user_id) %>
            <% else %>
              <%= link_to image_tag("power-icon.jpg", class: "user-image-icon-sm"), user_path(content.user_id) %>
            <% end %>
            <%= link_to content.user.nickname, user_path(content.user_id), class: "user-name ml-2" %>
            <% if content.user.height %><span class="user-name"><%= content.user.height %>cm</span><% end %>
          </div>
        </header>
          <%= link_to content_path(content), class: "content-show-img mb-2" do %>
            <%= image_tag(resize_l(content.befor_image), class: "show-preview") %>
            <%= image_tag(resize_l(content.after_image), class: "show-preview") %>
          <% end %>
        <div class="col-12 my-2">
          <i class="fas fa-angle-double-right fa-2x faa-horizontal animated work-link-font"></i>
          <%= link_to "ワークアウトと食事内容を見る", content_path(content), class: "work-link-font" %>
        </div>
        <% if content.comments.present? %>
          <% if content.comments.count <= 4 %>
            <%= render partial: "comments/comment_index", collection: content.comments, as: "comment" %>
          <% else %>
          <details>
            <summary><span>コメント<%= content.comments.count %>件を全て表示</span></summary>
            <%= render partial: "comments/comment_index", collection: get_remaining_comments(content.comments), as: "comment" %>
          </details>
          <%= render partial: "comments/comment_index", collection: get_4_comments(content.comments), as: "comment" %>
          <% end %>
        <% end %>
          <div id="index_comments_<%= content.id %>">
          </div>
        <div class="col-12">
          <time><%= simple_time(content[:created_at]) %></time>
        </div>
        <% if current_user %>
          <%= render "comments/comment_form", content: content %>
        <% end %>
      </div>
    </div>
  </div>
</div>