<div class="container-fluid mt-5">
  <%= form_for @content do |f| %>
    <form>
      <div class="row">
        <div class="col-12 col-lg-10 col-xl-8 mx-auto mb-4">
          <div class="form-group">
            <%= f.label :title, "タイトル", class: "label-font" %>
            <%= f.text_field :title, class: "form-control form-control-lg" %>
            <small class="text-muted">例: 増量期 / 夏に向けて減量</small>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-6 col-lg-5 col-xl-4 text-center">
          <% if @content.befor_image.attached? %>
            <%= image_tag(@content.befor_image, id: "before-preview") %><br />
          <% else %>
            <img id="before-preview"><br />
          <% end %>
          <%= f.label :befor_image, class: "label-font mt-2 mb-5", id: "before-sample" do %>
            <span>beforeの写真をアップロードする</span>
            <i class="fas fa-camera-retro fa-2x"></i>
            <%= f.file_field :befor_image,
                accept: 'image/jpg,image/jpeg,image/png,image/gif', style: "display:none" %>
          <% end %>
        </div>

        <div class="col-6 col-lg-5 col-xl-4 text-center">
          <% if @content.after_image.attached? %>
            <%= image_tag(@content.after_image, id: "after-preview") %><br />
          <% else %>
            <img id="after-preview"><br />
          <% end %>
          <%= f.label :after_image, class: "label-font mt-2 mb-5", id: "after-sample" do %>
            <span>afterの写真をアップロードする</span>
            <i class="fas fa-camera-retro fa-2x"></i>
            <%= f.file_field :after_image,
                accept: 'image/jpg,image/jpeg,image/png,image/gif', style: "display:none" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-lg-4 col-xl-4 my-2 ml-auto">
          <div class="form-group">
            <%= f.label :period, class: "label-font" do %>
              期間 <i class="far fa-calendar-alt fa-lg"></i>
            <% end %>
            <%= f.text_field :period, class: "form-control" %>
            <small class="text-muted">例: 3ヶ月 / 10週間</small>
          </div>
        </div>
        <div class="col-3 col-lg-2 col-xl-2 my-2">
          <div class="form-group">
            <%= f.label :before_body_weight , class: "label-font" do %>
              体重 <i class="fas fa-weight"></i> (before)
            <% end %>
            <%= f.number_field :before_body_weight, class: "form-control" %>
            <small class="text-muted">※数字のみで入力 単位/kg</small>
          </div>
        </div>
        <div class="col-3 col-lg-2 col-xl-2 my-2 mr-auto">
          <div class="form-group">
            <%= f.label :after_body_weight, class: "label-font" do %>
              体重 <i class="fas fa-weight"></i> (after)
            <% end %>
            <%= f.number_field :after_body_weight, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-6 col-lg-5 col-xl-5 ml-auto my-2">
          <div class="form-group">
            <%= link_to_add_association f, :workouts,
              data: {
              association_insertion_node: '#workouts',
              association_insertion_method: 'append'
              }, class: "btn btn-outline-info mt-4 mb-2" do %>
                ワークアウトを追加 <i class="fas fa-running fa-lg"></i>
            <% end %>
            <div id="workouts">
              <%= f.fields_for :workouts do |w| %>
                <%= render 'workout_fields', f: w %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-6 col-lg-4 col-xl-4 mr-auto my-2">
          <div class="form-group">
            <%= link_to_add_association f, :meals,
              data: {
              association_insertion_node: '#meals',
              association_insertion_method: 'append'
              }, class: "btn btn-outline-info mt-4 mb-2" do %>
                食事を追加 <i class="fas fa-pizza-slice fa-lg"></i>
            <% end %>
            <div id="meals">
              <%= f.fields_for :meals do |m| %>
                <%= render 'meal_fields', f: m %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-10 col-lg-7 col-xl-7 my-2 mx-auto">
          <div class="form-group">
            <%= f.label :comment, class: "label-font" do %>
              コメント<i class="fab fa-angellist fa-lg"></i>
            <% end %>
            <%= f.text_area :comment, rows: 5, placeholder: "例: 減量期であったが、重量を落とさないように気を付けた。", class: "form-control" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "記録する", class: "btn btn-primary my-4" %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>
