<div class="container mt-4">
  <%= form_for @content do |f| %>
    <form>
      <div class="row">
        <div class="col-12 col-sm-10 mx-auto mb-2">
          <div class="form-group">
            <%= f.label :title, "タイトル", class: "label-font" %>
            <%= f.text_field :title, required: true, class: "form-control" %>
            <small class="text-muted">例: 増量期 / 夏に向けて減量</small>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <% if @content.befor_image.attached? %>
            <%= image_tag(@content.befor_image, id: "before-preview") %>
          <% else %>
            <img id="before-preview"><br />
          <% end %>
          <%= f.label :befor_image, class: "link-border mt-3", id: "before-sample" do %>
            <span>beforeの写真を<br />アップロード</span>
            <i class="fas fa-camera-retro fa-lg"></i>
            <%= f.file_field :befor_image, required: true, style: "display:none" %>
          <% end %>
        </div>
        <div class="col-6 text-center">
          <% if @content.after_image.attached? %>
            <%= image_tag(@content.after_image, id: "after-preview") %>
          <% else %>
            <img id="after-preview"><br />
          <% end %>
          <%= f.label :after_image, class: "link-border mt-3", id: "after-sample" do %>
            <span>afterの写真を<br />アップロード</span>
            <i class="fas fa-camera-retro fa-lg"></i>
            <%= f.file_field :after_image, required: true, style: "display:none" %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 my-2">
          <div class="form-group">
            <%= f.label :period, class: "label-font" do %>
              期間 <i class="far fa-calendar-alt fa-lg"></i>
            <% end %>
            <%= f.text_field :period, required: true, class: "form-control" %>
            <small class="text-muted">例: 3ヶ月 / 10週間</small>
          </div>
        </div>
        <div class="col-6 col-sm-3 my-2">
          <div class="form-group">
            <%= f.label :before_body_weight, class: "label-font" do %>
              体重 <i class="fas fa-weight"></i> (before)
            <% end %>
            <%= f.number_field :before_body_weight, required: true, class: "form-control" %>
            <small class="text-muted">※数字のみで入力 単位/kg</small>
          </div>
        </div>
        <div class="col-6 col-sm-3 my-2">
          <div class="form-group">
            <%= f.label :after_body_weight, class: "label-font" do %>
              体重 <i class="fas fa-weight"></i> (after)
            <% end %>
            <%= f.number_field :after_body_weight, required: true, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 my-2">
          <div class="form-group">
            <%= link_to_add_association f, :workouts,
              data: {
              association_insertion_node: '#workouts',
              association_insertion_method: 'before'
              }, class: "btn btn-outline-primary work-font mt-3 mb-1" do %>
                ワークアウトを追加 <i class="fas fa-running fa-lg"></i>
            <% end %>
            <div id="workouts">
              <%= f.fields_for :workouts do |w| %>
                <%= render 'workout_fields', f: w %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 my-2">
          <div class="form-group">
            <%= link_to_add_association f, :meals,
              data: {
              association_insertion_node: '#meals',
              association_insertion_method: 'before'
              }, class: "btn btn-outline-success mt-3 mb-1" do %>
                食事を追加 <i class="fas fa-utensils fa-lg"></i>
            <% end %>
            <div id="meals">
              <%= f.fields_for :meals do |m| %>
                <%= render 'meal_fields', f: m %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-10 mx-auto">
          <div class="form-group">
            <%= f.label :comment, class: "label-font" do %>
              コメント<i class="far fa-comment-dots fa-lg mb-1"></i>
            <% end %>
            <%= f.text_area :comment, rows: 6, placeholder: "例: 減量期であったが、重量を落とさないように気を付けた。", class: "form-control" %>
          </div>
          <div class="form-group text-center">
            <%= f.submit "記録する", class: "btn btn-primary mt-4" %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>
