<div class="nested-fields">
  <div class="row">
    <div class="col-6 col-lg-8 col-xl-8 my-2">
      <%= f.label :title, "食事名", class: "label-font" %>
      <%= f.text_field :title, class: "form-control" %>
      <small class="text-muted">朝食 / トレーニング後 等</small>
    </div>

    <div class="col-12 col-lg-12 col-xl-10 my-2">
      <%= f.label :menu, "食事メニュー", class: "label-font mt-3" %>
      <%= f.text_area :menu, rows: 5, placeholder: "例: オートミール60g", class: "form-control" %>
      <%= link_to_remove_association f, class: "label-font float-right" do %>
        <span class="denger-link"><i class="fas fa-times fa-lg"></i></span>
      <% end %>
    </div>
  </div>
</div>
