<div class="nested-fields">
  <div class="row">
    <div class="col-6 mt-2">
      <%= f.label :week_id, "曜日", class: "label-font" %><br />
      <%= f.select :week_id, [
        ["月曜日", 1],
        ["火曜日", 2],
        ["水曜日", 3],
        ["木曜日", 4],
        ["金曜日", 5],
        ["土曜日", 6],
        ["日曜日", 7]], {}, class: "form-control" %>
        <small class="text-muted">※オフの場合は未入力</small>
    </div>

    <div class="col-6 mt-2">
      <%= f.label :title, "部位", class: "label-font" %>
      <%= f.text_field :title, required: true, class: "form-control" %>
      <small class="text-muted">胸と背中 / レッグDay等</small>
    </div>

    <div class="col-12 mt-3">
      <%= f.label :menu, "トレーニングメニュー", class: "label-font" %>
      <%= f.text_area :menu, required: true, rows: 5,class: "form-control" %>
      <%= link_to_remove_association f , class: "label-font float-right" do %>
        <span class="denger-link"><i class="fas fa-times fa-lg"></i></span>
      <% end %>
    </div>
  </div>
</div>
