<div class="container-fluid mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <div class="content-show-main">
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 my-3 user-profile">
              <% if @content.user.avatar.attached? %>
                <%= link_to image_tag(@content.user.avatar, class: "user-image-icon-sm"), user_path(@content.user_id) %>
              <% else %>
                <%= link_to image_tag("power-icon.jpg", class: "user-image-icon-sm"), user_path(@content.user_id) %>
              <% end %>
              <%= link_to @content.user.nickname, user_path(@content.user_id), class: "user-name ml-2" %>
              <% if @content.user.height %><span class="user-name"><%= @content.user.height %>cm</span><% end %>
              <span class="m-font"><%= @content.title %></span>
              <div class="mt-1"><%= simple_format @content.comment %></div>
            </div>
          </div>
        </div>
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 col-sm-6">
              <div class="title-border work-font">
                ワークアウトルーティーン
                <i class="fas fa-running fa-lg"></i>
              </div>
              <%= render @content.workouts %>
            </div>
            <div class="col-12 col-sm-6">
              <div class="title-border meal-font">
                食事内容
                <i class="fas fa-utensils"></i>
              </div>
              <%= render @content.meals %>
            </div>
            <% if @comments.present? %>
              <div class="my-border"></div>
              <%= render @comments %>
            <% end %>
            <div id="show_comments">
            </div>
            <div class="col-12">
              <i class="fa fa-spinner fa-spin" id="form-spinner" aria-hidden="true"></i>
            </div>
            <div class="col-12">
              <time><%= simple_time(@content[:created_at]) %></time>
            </div>
            <% if current_user %>
              <%= render "comments/comment_form", content: @content %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

