<h1>New Content</h1>

<%= form_with(model: @content, local: true) do |form| %>
<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :before_body_weight %>
  <%= form.number_field :before_body_weight %>
</div>

<div class="field">
  <%= form.label :after_body_weight %>
  <%= form.number_field :after_body_weight %>
</div>

<div class="field">
  <%= form.label :period %>
  <%= form.text_field :period %>
</div>

<div class="field">
  <%= form.label :user_id %>
  <%= form.number_field :user_id %>
</div>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>


<%= link_to '戻る', contents_path %>
