<div class="container-fluid mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <div class="content-show-main">
        <%= render "content_top" %>
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 mb-1 d-flex">
              <span id="content-<%= @content.id %>" data-content-id="<%= @content.id %>">
                <%= render "likes/like", content: @content %>
              </span>
              <span class="ml-auto" id="content-bookmark-<%= @content.id %>" data-content-id="<%= @content.id %>">
                <%= render "bookmarks/bookmark", content: @content %>
              </span>
            </div>
            <div class="col-12 col-sm-6">
              <span class="s-font">
                <i class="fas fa-weight"></i> 体重
                <span class="l-font fw ml-1"><%= @content.before_body_weight %></span>kg
                <i class="fas fa-arrow-right faa-horizontal animated"></i>
                <span class="l-font fw"><%= @content.after_body_weight %></span>kg
                <span class="denger-round l-font ml-1">
                  <%= weight_difference(@content.before_body_weight,@content.after_body_weight) %><span class="s-font">kg</span>
                </span>
              </span>
            </div>
            <div class="col-12 col-sm-6">
              <span class="s-font">
                <i class="far fa-calendar-alt"></i> 期間
                <span class="l-font fw ml-1"><%= @content.period %></span>
              </span>
            </div>
            <div class="col-12 my-2">
              <%= link_to @content.user.nickname, user_path(@content), class: "user-name" %>
              <div class="mb-2"><%= simple_format @content.comment %></div>
            </div>
          </div>
        </div>
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 col-sm-6">
              <div class="title-border work-font">
                ワークアウトルーティーン
                <i class="fas fa-running fa-lg"></i>
              </div>
              <%= render @content.workouts %>
            </div>
            <div class="col-12 col-sm-6">
              <div class="title-border meal-font">
                食事内容
                <i class="fas fa-utensils"></i>
              </div>
              <%= render @content.meals %>
            </div>
            <% if @comments.present? %>
              <div class="my-border"></div>
              <% if @comments.count <= 4 %>
                <%= render @comments %>
              <% else %>
              <div class="col-12">
                <%= link_to "コメント#{@comments.count}件を全て表示", comments_show_content_path(@content),
                    class: "comment-count-font", id: "comment_count_id_#{@content.id}" %>
              </div>
                <%= render get_4_comments(@comments) %>
              <% end %>
            <% end %>
            <div id="show_comments">
            </div>
            <div class="col-12">
              <i class="fa fa-spinner fa-spin" id="form-spinner" aria-hidden="true"></i>
            </div>
            <div class="col-12">
              <time><%= simple_time(@content[:created_at]) %></time>
            </div>
            <% if current_user %>
              <%= render "comments/comment_form", content: @content %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

