<div class="container-fluid mt-6">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <div class="content-show-main">
        <%= render "content_top" %>
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 col-sm-6">
              <span class="s-font">
                <i class="fas fa-weight"></i> 体重
                <span class="xl-font fw ml-1"><%= @content.before_body_weight %></span>kg
                <i class="fas fa-arrow-right faa-horizontal animated"></i>
                <span class="xl-font fw"><%= @content.after_body_weight %></span>kg
                <span class="denger-round l-font ml-1">
                  <%= weight_difference(@content.before_body_weight,@content.after_body_weight) %>kg
                </span>
              </span>
            </div>
            <div class="col-12 col-sm-6">
              <span class="s-font">
                <i class="far fa-calendar-alt"></i> 期間
                <span class="xl-font fw ml-1"><%= @content.period %></span>
              </span>
            </div>
            <div class="col-12 my-3 user-profile">
              <%= link_to @content.user.nickname, user_path(@content), class: "user-name" %>
              <span class="l-font"><%= @content.title %></span>
              <div class="mt-1"><%= simple_format @content.comment %></div>
            </div>
          </div>
        </div>
        <div class="content-show">
          <div class="row content-border">
            <div class="col-12 col-sm-6">
              <div class="title-border work-font">
                ワークアウトルーティーン
                <i class="fas fa-running fa-lg"></i>
              </div>
              <%= render @content.workouts %>
            </div>
            <div class="col-12 col-sm-6">
              <div class="title-border meal-font">
                食事内容
                <i class="fas fa-utensils"></i>
              </div>
              <%= render @content.meals %>
            </div>
            <div class="col-12 my-3">
              <time><%= simple_time(@content[:created_at]) %></time>
            </div>
            <% if @comments.present? %>
              <div class="my-border"></div>
              <%= render @comments %>
            <% end %>
            <% if current_user %>
              <%= render "comments/comment_form", content: @content %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

