<!-- メール認証再送信フォーム -->
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="devise-border-box">
        <div class="devise-border">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
            <form>
              <div class="col-11 mx-auto">
                <h3 class="mb-4">登録認証メールの再送信</h3>
                <div class="form-group">
                  <%= f.label :email, class: "form-label", id: "user_email-label" do %>
                    <i class="far fa-envelope"></i>メールアドレス
                  <% end %>
                  <%= f.email_field :email, required: true, autocomplete: "email",
                  value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-x" %>
                </div>
                <div class="form-group">
                  <%= f.submit "送信する", class: "btn btn-primary btn-sm btn-block my-3" %>
                </div>
              </div>
            </form>
          <% end %>
        </div>
        <div class="devise-border">
          アカウントをお持ちですか？
          <%= link_to "ログイン", new_session_path(resource_name), class: "link-font" %>
        </div>
      </div>
    </div>
  </div>
</div>
