<div class="text-center">
  <h2 class="title">登録確認メールの再送信</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

      <form>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
        </div>

        <div class="form-group border-bottom">
          <%= f.submit "メールを再送信する", class: "btn  btn-lg btn-primary btn-block mt-5 mb-4" %>
        </div>
      </form>
    <% end %>
    <div class="more_link_box">
      アカウントをお持ちですか？
      <%= link_to "ログイン", new_session_path(resource_name) %>
    </div>
</div>
