<div class="col-12 my-1" id="show_comment_id_<%= comment.id %>">
  <% if comment.user.avatar.attached? %>
    <%= link_to image_tag(resize_s(comment.user.avatar), class: "user-image-icon-sm"), user_path(comment.user_id) %>
  <% else %>
    <%= link_to image_tag("power-icon.jpg", class: "user-image-icon-sm"), user_path(comment.user_id) %>
  <% end %>
  <%= link_to comment.user.nickname, user_path(comment.user_id), class: "user-name mx-1" %>
  <span class="s-font"><%= comment.text %></span><br />
  <time><%= time_ago_in_words comment.created_at %>前</time>
  <% if user_signed_in? %>
    <% if comment.user_id == current_user.id || comment.content.user_id == current_user.id %>
      <span class="float-right">
        <i class="fas fa-ellipsis-h" id="my-ellipsis" data-toggle="modal" data-target="#comment_id_<%= comment.id %>"></i>
      </span>
    <% end %>
  <% end %>
</div>
<!-- モーダルの設定 -->
<div class="modal" id="comment_id_<%= comment.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to "コメントを削除", content_comment_path(comment.content,comment), method: :delete, remote: true, class: "denger-link delete_comment" %>
      </div>
      <div class="modal-body-b">
        <span class="s-font pointer" data-dismiss="modal">キャンセル</span>
      </div>
    </div>
  </div>
</div>
<!-- モーダルの設定 -->
