<div class="col-12 my-1">
  <% if comment.user.avatar.attached? %>
    <%= link_to image_tag(@content.user.avatar, class: "user-image-icon-sm"), user_path(comment.user) %>
  <% else %>
    <%= link_to image_tag("power-icon.jpg", class: "user-image-icon-sm"), user_path(comment.user) %>
  <% end %>
  <%= link_to comment.user.nickname, user_path(comment), class: "user-name ml-1" %>
  <span class="s-font"><%= comment.text %></span>
  <% if comment.user.id == current_user.id %>
    <i class="fas fa-ellipsis-h"></i>
    <%= link_to "削除", content_comment_path(@content,comment), method: :delete %>
  <% end %>
</div>
