<div class="col-12 my-2">
  <% if current_user %>
    <span class="like">
      <% if content.like_it?(current_user) %>
        <%= form_for(content.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
          <%= button_tag(class: "like_button") do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      <% else %>
        <%= form_for(content.likes.build, remote: true) do |f| %>
          <div><%= hidden_field_tag :content_id, content.id %></div>
          <%= button_tag(class: "like_button") do %>
            <i class="far fa-heart fa-lg"></i>
          <% end %>
        <% end %>
      <% end %>
    </span>
  <% end %>
</div>