<div class="container mt-6">
  <div class="row">
    <div class="col-12 px-2">
      <div class="user-show">
        <div class="user-image-show">
          <% if @user.avatar.attached? %>
            <%= image_tag(resize_sm(@user.avatar), id: "user-image") %>
          <% else %>
            <%= image_tag("power-icon.jpg", id: "user-image") %>
          <% end %>
        </div>
        <div class="user-show-right">
          <div class="user-name-show">
            <%= @user.nickname %>
            <% if user_signed_in? && current_user.id == @user.id %>
              <i class="fas fa-cog pb-1 pointer" data-toggle="modal" data-target="#myModal"></i>
            <% end %>
          </div>
            <% if user_signed_in? && current_user.id == @user.id %>
              <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "label-border" %>
            <% end %>
        </div>
      </div>
      <div class="user-profile">
        <div class="profile-nav">
          <% if @user.height %><span class="label-font"><%= @user.height %>cm</span><% end %>
          <% if @user.weight %><span class="label-font"><%= @user.weight %>kg</span><% end %>
        </div>
        <% if @user.profile? %>
          <%= simple_format @user.profile %>
        <% else %>
          <span class="s-font fw">プロフィールを編集しよう！</span>
        <% end %>
      </div>
      <div class="user-show-nav">
        <div class="nav-button active-top" id="user_image-button">
          <span>
            <i class="fas fa-th"></i><span class="ml-1">投稿</span>
          </span>
        </div>
        <div class="nav-button" id="user_bookmark_image-button">
          <span>
            <i class="far fa-bookmark"></i><span class="ml-1">お気に入り</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row x" id="user_image">
    <%= render partial: "user_image", collection: @contents %>
  </div>
  <div class="row x" id="user_bookmark_image">
    <%= render partial: "user_bookmark_image", collection: @bookmark_contents %>
  </div>
</div>
<!-- モーダルの設定 -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to "登録情報の変更", edit_user_registration_path, class: "modal-font"%>
      </div>
      <div class="modal-body">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "denger-link" %>
      </div>
      <div class="modal-body-b">
        <span class="s-font pointer" data-dismiss="modal">キャンセル</span>
      </div>
    </div>
  </div>
</div>
<!-- モーダルの設定 -->

<!-- ページネーション -->
<div id="user_image_paginate"><%= paginate @contents %></div>
<div id="user_bookmark_image_paginate"><%= paginate @bookmark_contents %></div>