<div class="container mt-6">
  <div class="row">
    <div class="col-12">
      <div class="user-show">
        <div class="user-image-show">
          <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar, id: "user-image") %>
          <% else %>
            <%= image_tag("power-icon.jpg", id: "user-image") %>
          <% end %>
        </div>
        <div class="user-show-right">
          <div class="user-name-show">
            <%= @user.nickname %>
            <% if current_user.id == @user.id %>
              <i class="fas fa-cog pb-1 pointer" data-toggle="modal" data-target="#myModal"></i>
            <% end %>
          </div>
          <% if current_user.id == @user.id %>
            <div class="">
              <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "label-border" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="user-profile">
        <%= simple_format @user.profile %>
      </div>
    </div>
  </div>
</div>
<!-- モーダルの設定 -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "denger-link" %>
      </div>
      <div class="modal-body-b">
        <span class="s-font pointer" data-dismiss="modal">キャンセル</span>
      </div>
    </div>
  </div>
</div>
<!-- モーダルの設定 -->