<div class="user-show">
  <div class="text-center">
    <div class="left-content">
      <% if @user.avatar.attached? %>
        <%= image_tag(@user.avatar, class: "user-image") %><br />
      <% else %>
        <%= image_tag("rip-rich.jpg", class: "user-image") %>
      <% end %>
    </div>

    <div class="user-right-content mt-4">
      <div class="row">
        <div class="user-name-show">
          <%= @user.nickname %>
        </div>
        <% if current_user.id == @user.id %>
          <div class="dropdown">
            <!-- 切替ボタンの設定 -->
            <a class="btn btn-outline-secondary btn-sm dropdown-toggle mt-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              プロフィール設定
            </a>
            <!-- ドロップメニューの設定 -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "label-font dropdown-item" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "denger-link dropdown-item" %>
            </div><!-- /.dropdown-menu -->
          </div><!-- /.dropdown -->
        <% end %>
      </div>
      <div class="user-profile">
        <%= simple_format @user.profile %>
      </div>
      </div>
    </div>
  </div>
</div>
