
<div class="text-center">
  <h2 class="title">パスワード変更</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

      <form>
        <div class="form-group">
          <%= f.label :password, "新しいパスワード" %>
          <% if @minimum_password_length %>
          <% end %>
          <%= f.password_field :password, placeholder: "#{@minimum_password_length}文字以上で入力", autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.submit "パスワードを変更する", class: "btn  btn-lg btn-primary btn-block mt-5 mb-4" %>
        </div>
      </form>

    <% end %>
</div>
