<!-- パスワード変更画面 -->
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="devise-border-box">
        <div class="devise-border">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
            <form>
              <div class="col-11 mx-auto">
                <h3 class="mb-4">新しいパスワードの設定</h3>
                <div class="form-group mb-3">
                  <%= f.label :password, class: "form-label", id: "user_password-label" do %>
                    <i class="fas fa-key"></i>新しいパスワード
                  <% end %>
                  <%= f.password_field :password, required: true, minlength: "6", autocomplete: "new-password", class: "form-x" %>
                  <div class="password_check_button-box">
                    <div class="password_check_button none">表示する</div>
                  </div>
                </div>
                <div class="form-group">
                  <%= f.submit "パスワードを変更する", class: "btn btn-primary btn-block btn-sm my-4" %>
                </div>
              </div>
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
