<!-- ログイン画面 -->
<div class="container-fluid mt-6">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="devise-border-box">
        <div class="devise-border">
          <h1 class="mb-3">Fitness innovator</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <form>
            <div class="col-11 mx-auto">
              <div class="form-group mb-3">
                <%= f.label :email, class: "form-label", id: "user_email-label" do %>
                  <i class="far fa-envelope"></i>メールアドレス
                <% end %>
                <%= f.email_field :email, required: true, autocomplete: "email", class: "form-x" %>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "form-label", id: "user_password-label" do %>
                  <i class="fas fa-key"></i>パスワード
                <% end %>
                <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-x" %>
                <div class="password_check_button-box">
                  <div class="password_check_button none">表示する</div>
                </div>
              </div>
              <div class="form-group border-bottom">
                <%= f.submit "ログイン", class: "btn btn-primary btn-sm btn-block my-4" %>
              </div>
              <div class="form-group">
                <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "link-font"%>
                <div class="mt-2 my-black">
                  <div>Test User Account</div>
                  <div>rails5test.ykj@gmail.com</div>
                  <div>Password: 111111</div>
                </div>
              </div>
            </div>
          </form>
          <% end %>
        </div>
        <div class="devise-border">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>