<!-- ログイン画面 -->
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="devise-border">
      <div class="col-12 text-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
            <form>
              <div class="form-group mb-3">
                <%= f.label :email, class: "form-font" do %>
                  <i class="far fa-envelope"></i> メールアドレス
                <% end %>
                <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password, class: "form-font" do %>
                  <i class="fas fa-key"></i> パスワード
                <% end %>
                <%= f.password_field :password, required: true, autocomplete: "current-password", class: "form-control" %>
              </div>
              <div class="form-group form-check mt-4">
                <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me %><br />
                <% end -%>
              </div>
              <div class="form-group border-bottom">
                <%= f.submit "ログイン", class: "btn btn-primary btn-block my-4" %>
              </div>
              <div class="form-group">
                <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class: "link-font"%>
              </div>
            </form>
          <% end %>
          <div class="more_link_box">
            <%= render "devise/shared/links" %>
          </div>
          <%= link_to "登録確認メールが届かない場合", new_confirmation_path(resource_name), class: "link-font" %>
      </div>
    </div>
  </div>
</div>