<!DOCTYPE html>
<html>
  <head>
    <title>fitness innovator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  </head>
  <body>
    <div id="wrapper">
      <% if user_signed_in? %>
        <header class="site-header">
          <div class="header-nav">
            <div class="header-content">
              <div class="logo-box">
                <%= link_to "Fitness innovator", root_path, class: "header-logo mx-3"%>
              </div>
              <% if current_user.avatar.attached? %>
                <%= link_to image_tag(resize_s(current_user.avatar), class: "user-image-icon mx-2"), user_path(current_user) %>
              <% else %>
                <%= link_to image_tag("power-icon.jpg", class: "user-image-icon mx-2"), user_path(current_user) %>
              <% end %>
              <div class="icon-box">
                <%= link_to new_content_path, class: "mx-2" do %>
                  <i class="fas fa-dumbbell fmy-lg black"></i>
                <% end %>
              </div>
            </div>
          </div>
        </header>
      <% end %>
      <div class=main-content>
        <% if notice %>
          <div class="alert alert-custom" id="alert-notice" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-mydanger" role="alert">
            <%= alert %>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <footer>
        <span>© 2019 FITNESS INNOVATOR</span>
      </footer>
    </div>
  </body>
</html>
