<!DOCTYPE html>
<html>
  <head>
    <title>fitness innovator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <header class="sticky-top shadow-sm">
      <nav class="navbar navbar-light bg-white mb-4">
        <div class="navbar-brand col text-center">
          <%= link_to image_tag("fitness_innovator_logo.png", width: "30%", height: "30%"), root_path, class: "img-fluid" %>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
