<!DOCTYPE html>
<html>
  <head>
    <title>fitness innovator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <link href="signin.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
  </head>

  <body>
    <header class="site-header sticky-top">
      <div class="header-nav">
        <%= link_to image_tag("fitness_innovator_logo.png"), root_path, class: "header-logo"%>
        <ul>
          <li>
            <% if user_signed_in? %>
              <% if current_user.avatar.attached? %>
                <%= link_to image_tag(current_user.avatar, class: "user-image-icon"), user_path(current_user) %>
              <% else %>
                <%= link_to user_path(current_user), class: "user-image-icon" do %>
                  <i class="fas fa-user-check fa-lg"></i>
                <% end %>
              <% end %>
              <%= link_to current_user.nickname, user_path(current_user), class: "user-name" %>
              <%= link_to new_content_path do %>
                <i class="fas fa-dumbbell fa-lg ml-2"></i>
              <% end %>
          </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                <span class="faa-parent animated-hover">
                  <i class="fas fa-user-plus fa-lg faa-bounce"></i>
                </span>
                <% end %>
              </li>
            <% end %>
        </ul>
      </div>
    </header>

    <div class=main-content>
      <% if notice %>
          <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">close</span>
            </button>
            <%= notice %>
          </div>
      <% end %>

      <% if alert %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">close</span>
        </button>
        <%= alert %>
      </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
